<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
	<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
    {{{body}}}
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/not-exit-page">not-exit-page</a>
</body>
</html>
